#breakfast{
    text-align: center;  
    align-items: center;
    justify-content: center;
}
#lunch{
    text-align: center; 
    align-items: center;
    justify-content: center; 
}
#beverages{
    text-align: center;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.container:last-of-type{
    margin-bottom: 25px;
}
.menu-page{
    background-image: url('C:\Users\Akash\Desktop\restaurant-project\restaurant\src\assets\background.jpg');
    background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}